﻿<!DOCTYPE html>
    <html>

    <body ng-app="myApp">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
        <script src="~/Content/controller.js"></script>



        <div class="content" ng-controller="indexCtrl">
            <div class="container-fluid">
                <div style="text-align:center;font-size:26px">Customers</div>
                <div class="row">
                    <div class="col-md-5">
                      
                    </div>

                    <div class="" px4" style="float:right; margin-right:15px; margin-bottom:5px;">
                        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#AddCustomerModal" ng-click="ResetCustomer()">Add</button>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card container-fluid" style="border:3px #333 dashed">
                            <div style="text-align: center;">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="bg-success">
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>City</th>
                                                <th>Country</th>
                                                <th>Mobile No</th>
                                                <th>DOB</th>
                                                <th>Email</th>
                                                <th>G2FACode</th>
                                                <th style="width:17%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="{{$index+1+'row'}}" ng-repeat="x in customers">
                                                <th>{{$index+1}}</th>
                                                <td id="data1">{{x.name}}</td>
                                                <td id="data2">{{x.city}}</td>
                                                <td id="data3">{{x.country}}</td>
                                                <td id="data4">{{x.MobileNo}}</td>
                                                <td id="data5">{{x.DOJ}}</td>
                                                <td id="data6">{{x.Email}}</td>
                                                <td id="data7">{{x.G2FACode}}</td>
                                                <td id="Action1">
                                                    <span title="Edit" class="btn btn-default" ng-click="Edit($index+1,x)"><i class="fa fa-edit"></i></span>
                                                    <span title="Delete" class="btn btn-danger" ng-click="DeleteButtonClick(x)"><i class="fa fa-trash"></i></span>
                                                    <span title="2FA Enabled" ng-show="x.G2FAEnabled == true" class="btn btn-danger" ng-click="Change2FAStatus(x,false)"><i class="fa fa-google" aria-hidden="true"></i></span>
                                                </td>
                                                <td id="Action2" style="display:none">
                                                    <span title="Update" class="btn btn-default" ng-click="Update(x.id)"><i class="fa fa-upload"></i></span>
                                                    <span title="Cancel" class="btn btn-default" ng-click="Cancel($index+1,x)"><i class="fa fa-close"></i></span>
                                                </td>
                                            </tr>
                                            @*<tr class="bg-success">
                                                <th>
                                                    New
                                                </th>
                                                <td>
                                                    <input id="newname" ng-model="name" placeholder="name" type="text" ," class="form-control" />
                                                </td>
                                                <td>
                                                    <input id="newcity" ng-model="city" placeholder="city" type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input id="newcountry" ng-model="country" placeholder="country" type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input id="newname" ng-model="MobileNo" placeholder="Mobile No" type="number" ," class="form-control" />
                                                </td>
                                                <td>
                                                    <input id="newcity" ng-model="city" placeholder="city" type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input id="newcountry" ng-model="country" placeholder="country" type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <input id="newcountry" ng-model="country" placeholder="country" type="text" class="form-control" />
                                                </td>
                                                <td>
                                                    <span title="Insert" class="btn btn-block btn-success" ng-click="InsertButtonClick()">Add</span>
                                                </td>
                                            </tr>*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="AddCustomerModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="panel" style="border: 3px solid; border-style: dashed; padding: 20px 20px 0px 20px; margin-top: 10px; margin-right: 15px; margin-left: 15px; margin-bottom: 10px;">
                            <div class="header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <center><h4 class="modal-title">Add Customer </h4></center>
                            </div>

                            <div class="modal-body mdh2_body">
                                <div class="form-group">
                                    <label for="FirstName"> Name</label>
                                    <input type="text" id="Name" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="Name" required="" name="Name">
                                </div>
                                <div class="form-group">
                                    <label for="City">City</label>
                                    <input type="text" id="City" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="City" required="" name="City">
                                </div>
                                <div class="form-group">
                                    <label for="CountryCode">Country</label>
                                    <input type="text" id="Country" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="Country" required="" name="Country">
                                </div>
                                <div class="form-group">
                                    <label for="MobileNo">Mobile Number</label>
                                    <input type="text" id="MobileNo" required="" ng-model="MobileNo" aria-describedby="basic-addon1" numbers-only-int class="form-control ng-valid-maxlength ng-dirty ng-valid-number ng-empty ng-invalid ng-invalid-required ng-touched" name="MobileNo">
                                </div>
                                <div class="form-group">
                                    <label for="DOB">DOB</label>
                                    <input type="date" id="DOJ" required="" ng-model="DOJ" aria-describedby="basic-addon1" numbers-only-int class="form-control ng-valid-maxlength ng-dirty ng-valid-number ng-empty ng-invalid ng-invalid-required ng-touched" name="DOJ">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="text" id="Email" class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" ng-model="Email" required="" name="Email">
                                </div>
                                <div class="form-group">
                                    <button type="button" ng-click="InsertButtonClick();" class="btn btn-primary btn-block">Add Customer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </body>
    </html>


@{
    ViewBag.Title = "Customer";
    //Layout = "~/Views/shared/layout.cshtml";
}
